/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  font-family: Montaga, serif;
}
html {
  font-size: 62.5%;
  background-color: #847a23;
}
.container {
  font-size: 1.6rem;
  max-width: 1024px;
  margin: 0 auto;
}
@media (max-width:500px) {
  .container {
    width: 440px;
  }
}
p {
  line-height: 1.8;
  font-size: 1.7rem;
}
h1 {
  font-weight: Bold;
  font-size: 3rem;
  margin-bottom: 3%;
}
h3 {
  font-size: 2rem;
  color: #847a23;
  font-weight: Bold;
  margin-bottom: 1%;
}
h4 {
  font-size: 2rem;
  font-weight: Bold;
}
h5 {
  font-size: 2rem;
}
.nav-bar {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  background-color: #313715;
  padding: 2% 2%;
}
@media (max-width:500px) {
  .nav-bar {
    padding: 3% 5%;
  }
}
.nav-bar h1 {
  color: #8C6613;
  font-size: 3rem;
  margin-top: 0;
  font-family: Montaga, serif;
}
.nav-bar .active {
  display: flex;
}
.nav-bar img {
  display: none;
  z-index: 2;
  cursor: pointer;
  height: 27px;
}
.nav-bar .nav-tags {
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 39px;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0.95;
  background-color: #001500;
}
.nav-bar .nav-tags a {
  font-size: 4rem;
  text-decoration: none;
  font-weight: 500;
  color: #f5eeb3;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-family: Montaga, serif;
}
.nav-bar .nav-tags a:hover {
  color: #313715;
}
.nav-bar .nav-tags a:first-child {
  margin-top: 37vh;
}
.hidden {
  display: none;
}
.main-image {
  position: relative;
}
.main-image .jumbotron-image {
  width: 100%;
}
@media (max-width:500px) {
  .main-image .jumbotron-image {
    height: 60vh;
  }
}
.main-image h2 {
  position: absolute;
  top: 30%;
  left: 12%;
  letter-spacing: 2px;
  line-height: 1.9;
  color: #f5eeb3;
  font-size: 7rem;
  font-weight: bold;
  font-family: Montaga, serif;
}
@media (max-width:500px) {
  .main-image h2 {
    font-size: 3rem;
    left: 20px;
    bottom: 10px;
  }
}
