/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  font-family: Montaga, serif;
}
html,
body {
  font-size: 62.5%;
  background-color: #313715;
}
.container {
  font-size: 1.6rem;
  max-width: 1024px;
  margin: 0 auto;
}
p {
  line-height: 1.8;
  font-size: 1.7rem;
}
h1 {
  font-weight: Bold;
  font-size: 3rem;
  margin-bottom: 3%;
}
h3 {
  font-size: 2rem;
  color: #847a23;
  font-weight: Bold;
  margin-bottom: 1%;
}
h4 {
  font-size: 2rem;
  font-weight: Bold;
}
h5 {
  font-size: 2rem;
}
.nav-bar {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  background-color: #313715;
  padding: 2% 2%;
  margin: 0;
}
@media (min-width: 2560px) {
  .nav-bar {
    max-height: 6rem;
  }
}
@media (max-width:1440px) {
  .nav-bar {
    max-height: 4rem;
  }
}
@media (max-width: 1280px) {
  .nav-bar {
    max-height: 3.5rem;
  }
}
@media (max-width: 1024px) {
  .nav-bar {
    max-height: 3rem;
  }
}
@media (max-width: 992px) {
  .nav-bar {
    max-height: 2.8rem;
  }
}
@media (max-width: 768px) {
  .nav-bar {
    max-height: 2.8rem;
  }
}
@media (max-width: 500px) {
  .nav-bar {
    max-height: 1.5rem;
  }
}
@media (max-width: 480px) {
  .nav-bar {
    max-height: 1.5rem;
  }
}
@media (max-width: 320px) {
  .nav-bar {
    max-height: 1rem;
  }
}
.nav-bar h1 {
  display: flex;
  color: #8C6613;
  font-size: 5rem;
  margin-top: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-family: Montaga, serif;
}
@media (min-width: 2560px) {
  .nav-bar h1 {
    font-size: 6rem;
  }
}
@media (max-width:1440px) {
  .nav-bar h1 {
    font-size: 4rem;
  }
}
@media (max-width: 1280px) {
  .nav-bar h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 1024px) {
  .nav-bar h1 {
    font-size: 3rem;
  }
}
@media (max-width: 992px) {
  .nav-bar h1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 768px) {
  .nav-bar h1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 500px) {
  .nav-bar h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  .nav-bar h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 320px) {
  .nav-bar h1 {
    font-size: 1.2rem;
  }
}
.nav-bar .active {
  display: flex;
}
.nav-bar img {
  display: none;
  z-index: 2;
  cursor: pointer;
  height: 5rem;
}
@media (min-width: 2560px) {
  .nav-bar img {
    height: 6rem;
  }
}
@media (max-width:1440px) {
  .nav-bar img {
    height: 4rem;
  }
}
@media (max-width: 1280px) {
  .nav-bar img {
    height: 3.5rem;
  }
}
@media (max-width: 1024px) {
  .nav-bar img {
    height: 3rem;
  }
}
@media (max-width: 992px) {
  .nav-bar img {
    height: 2.8rem;
  }
}
@media (max-width: 768px) {
  .nav-bar img {
    height: 2.8rem;
  }
}
@media (max-width: 500px) {
  .nav-bar img {
    height: 1.5rem;
  }
}
@media (max-width: 480px) {
  .nav-bar img {
    height: 1.5rem;
  }
}
@media (max-width: 320px) {
  .nav-bar img {
    height: 1rem;
  }
}
.nav-bar .nav-tags {
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 39px;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0.95;
  background-color: #140801;
}
.nav-bar .nav-tags a {
  margin: 0 auto;
  font-size: 4rem;
  text-decoration: none;
  font-weight: 500;
  color: #f5eeb3;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montaga, serif;
}
.nav-bar .nav-tags a:hover {
  color: #313715;
}
.nav-bar .nav-tags a:first-child {
  margin-top: 37vh;
}
.hidden {
  display: none;
}
.main-image {
  position: relative;
}
.main-image .jumbotron-image {
  width: 100vw;
}
.main-image h2 {
  position: absolute;
  top: 40%;
  left: 8%;
  letter-spacing: 2px;
  line-height: 1.9;
  color: #f5eeb3;
  font-size: 7rem;
  font-weight: bold;
  font-family: Montaga, serif;
}
@media (min-width: 2560px) {
  .main-image h2 {
    top: 32%;
    left: 10%;
    font-size: 12rem;
  }
}
@media (max-width:1440px) {
  .main-image h2 {
    top: 32%;
    left: 9%;
    font-size: 6.8rem;
  }
}
@media (max-width: 1280px) {
  .main-image h2 {
    top: 30%;
    left: 9%;
    font-size: 6.7rem;
  }
}
@media (max-width: 1024px) {
  .main-image h2 {
    top: 27%;
    left: 10%;
    font-size: 6.5rem;
  }
}
@media (max-width: 992px) {
  .main-image h2 {
    top: 25%;
    left: 10%;
    font-size: 6rem;
  }
}
@media (max-width: 768px) {
  .main-image h2 {
    top: 32%;
    left: 10%;
    font-size: 4.5rem;
  }
}
@media (max-width: 500px) {
  .main-image h2 {
    top: 28%;
    left: 10%;
    font-size: 3.5rem;
  }
}
@media (max-width: 480px) {
  .main-image h2 {
    top: 25%;
    left: 10%;
    font-size: 3rem;
  }
}
@media (max-width: 320px) {
  .main-image h2 {
    top: 20%;
    left: 10%;
    font-size: 2rem;
  }
}
.gsap-container {
  background-color: #313715;
}
.gsap-container .slideshow .demoSlides {
  margin: 0 auto;
  width: 80vw;
  display: none;
}
body {
  background-color: #313715;
}
body .gsap-container #myCarousel .carousel-inner .item {
  background-color: #313715;
}
body .gsap-container #myCarousel .carousel-inner .item img {
  margin: 0 auto;
  height: 50vw;
}
.forum-container {
  max-width: 1280px;
  max-height: 1000px;
  margin: 0 auto;
}
/* style the container */
.container {
  border-radius: 5px;
  background-color: #313715;
  padding: 1% 0;
}
/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  /* remove underline from anchors */
}
input:hover,
.btn:hover {
  opacity: 1;
}
/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}
.twitter {
  background-color: #55ACEE;
  color: white;
}
.google {
  background-color: #dd4b39;
  color: white;
}
/* style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 175px;
}
/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f5eeb3;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}
/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}
/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #633f0e;
  border-radius: 0px 0px 4px 4px;
}
/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}
h2 {
  margin: 15% 5%;
  font-size: 6rem;
  color: #f5eeb3;
}
p {
  margin: 15% 5%;
  font-size: 4rem;
  color: #f5eeb3;
}
