/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  font-family: Montaga, serif;
}
html,
body {
  font-size: 62.5%;
  background-color: #313715;
  background-color: #847a23;
}
html body,
body body {
  background-image: linear-gradient(to bottom, #313715, #313715, #313715, #313715, #313715, #373c16, #3d4218, #434719, #52541c, #61601e, #726d21, #847a23);
}
.container {
  font-size: 1.6rem;
  max-width: 1024px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 440px;
  }
}
p {
  line-height: 1.8;
  font-size: 1.7rem;
}
h1 {
  font-weight: Bold;
  font-size: 3rem;
  margin-bottom: 3%;
}
h3 {
  font-size: 2rem;
  color: #847a23;
  font-weight: Bold;
  margin-bottom: 1%;
}
h4 {
  font-size: 2rem;
  font-weight: Bold;
}
h5 {
  font-size: 2rem;
}
.nav-bar {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  background-color: #313715;
  padding: 2% 2%;
  margin: 0;
}
@media (max-width: 500px) {
  .nav-bar {
    padding: 3% 5%;
  }
}
.nav-bar h1 {
  display: flex;
  color: #8C6613;
  font-size: 3rem;
  margin-top: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-family: Montaga, serif;
}
@media (max-width: 1024px) {
  .nav-bar h1 {
    font-size: 3rem;
  }
}
@media (max-width: 992px) {
  .nav-bar h1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 768px) {
  .nav-bar h1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 500px) {
  .nav-bar h1 {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .nav-bar h1 {
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  .nav-bar h1 {
    font-size: 0.1rem;
  }
}
.nav-bar .active {
  display: flex;
}
.nav-bar img {
  display: none;
  z-index: 2;
  cursor: pointer;
  height: 27px;
}
.nav-bar .nav-tags {
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 39px;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0.95;
  background-color: #140801;
}
@media (max-width: 1024px) {
  .nav-bar .nav-tags {
    width: 24%;
    height: 52%;
    margin-top: 15%;
    margin-left: 10.8%;
  }
}
@media (max-width: 992px) {
  .nav-bar .nav-tags {
    width: 24%;
    height: 52%;
    margin-top: 15%;
    margin-left: 11%;
  }
}
@media (max-width: 768px) {
  .nav-bar .nav-tags {
    width: 24%;
    height: 50%;
    margin-top: 24%;
    margin-left: 1%;
  }
}
@media (max-width: 500px) {
  .nav-bar .nav-tags {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .nav-bar .nav-tags {
    width: 100%;
    height: 100%;
    margin: 20% auto;
  }
}
@media (max-width: 320px) {
  .nav-bar .nav-tags {
    width: 100%;
    height: 100%;
    margin: 20% auto;
  }
}
.nav-bar .nav-tags a {
  font-size: 4rem;
  text-decoration: none;
  font-weight: 500;
  color: #f5eeb3;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-family: Montaga, serif;
}
.nav-bar .nav-tags a:hover {
  color: #313715;
}
@media (max-width: 1024px) {
  .nav-bar .nav-tags a {
    font-size: 3rem;
  }
}
@media (max-width: 992px) {
  .nav-bar .nav-tags a {
    font-size: 2.8rem;
  }
}
@media (max-width: 768px) {
  .nav-bar .nav-tags a {
    font-size: 2.8rem;
  }
}
@media (max-width: 500px) {
  .nav-bar .nav-tags a {
    font-size: 2.7rem;
  }
}
@media (max-width: 480px) {
  .nav-bar .nav-tags a {
    font-size: 2.5rem;
  }
}
@media (max-width: 320px) {
  .nav-bar .nav-tags a {
    font-size: 2rem;
  }
}
.nav-bar .nav-tags a:first-child {
  margin-top: 37vh;
}
.hidden {
  display: none;
}
.main-image {
  position: relative;
}
.main-image .jumbotron-image {
  width: 100%;
}
@media (max-width: 500px) {
  .main-image .jumbotron-image {
    height: 60vh;
  }
}
.main-image h2 {
  position: absolute;
  top: 10%;
  left: 8%;
  letter-spacing: 2px;
  line-height: 1.9;
  color: #f5eeb3;
  font-size: 7rem;
  font-weight: bold;
  font-family: Montaga, serif;
}
@media (max-width: 500px) {
  .main-image h2 {
    font-size: 3rem;
    left: 20px;
    bottom: 10px;
  }
}
.gsap-container {
  background-color: #313715;
}
.gsap-container .slideshow .demoSlides {
  margin: 0 auto;
  max-width: 900px;
  display: none;
}
.gsap-container {
  background-image: linear-gradient(to bottom, #313715, #313715, #313715, #313715, #313715, #373c16, #3d4218, #434719, #52541c, #61601e, #726d21, #847a23);
}
.gsap-container .carousel-inner .item img {
  margin: 0 auto;
}
.gsap-container .carousel-inner .item .carousel-caption {
  background-color: #847a23;
}
.forum-container {
  max-width: 1280px;
  max-height: 1000px;
  padding-top: 200px;
  margin: 0 auto;
}
/* style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
}
/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  /* remove underline from anchors */
}
input:hover,
.btn:hover {
  opacity: 1;
}
/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}
.twitter {
  background-color: #55ACEE;
  color: white;
}
.google {
  background-color: #dd4b39;
  color: white;
}
/* style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}
/* text inside the vertical line */
.inner {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}
/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

.forum-container {
  max-width: 1280px;
  max-height: 1000px;
  padding-top: 200px;
  margin: 0 auto;
}
/* style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
}
/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  /* remove underline from anchors */
}
input:hover,
.btn:hover {
  opacity: 1;
}
/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}
.twitter {
  background-color: #55ACEE;
  color: white;
}
.google {
  background-color: #dd4b39;
  color: white;
}
/* style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}
/* text inside the vertical line */
.inner {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}
/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}
/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}

