.gsap-container{
    
    .carousel-inner{
        .item{
            img{
                margin: 0 auto;
                
            }
            .carousel-caption{
                background-color: #847a23;
                max-height: 80px;
                padding-bottom: 20px;
                margin: 30px;
            }
        }
    }
}