body {
    background-image: url("../../public/assets/img/bkgrnd-img.png");
    background-size: 100% auto;
    background-color: #754835;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        font-family: 'Montaga', serif;

        .nav {
            width: 37%;
            margin-top: 3rem;
            margin-left: 0;
            border: 0.1px solid blueviolet; //Spacing use only
            
            nav {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

                a {
                    text-decoration: none;
                    font-size: 1.6rem;
                    color: #ad6e3b;   
                }
            }
        }
    }
}