.container {
    max-width: 1200px;
    margin: 0 auto;
    background-image: url("../../public/assets/img/bkgrnd-img.png");
    background-color: #754835;
    font-family: 'Montaga', serif;

    .nav{
        width: 100%;
        border: 2px solid blueviolet; //Spacing use only
        padding: 10px;
        
        nav{
            display: flex;
            justify-content: space-evenly;

            a{
                
                text-decoration: none;
                color: black;   
            }
            
        }
    }
}