.container {
  max-width: 1200px;
  margin: 0 auto;
  background-image: url("../../public/assets/img/bkgrnd-img.png");
  background-color: #754835;
  font-family: 'Montaga', serif;
}
.container .nav {
  width: 100%;
  border: 2px solid blueviolet;
  padding: 10px;
}
.container .nav nav {
  display: flex;
  justify-content: space-evenly;
}
.container .nav nav a {
  text-decoration: none;
  color: black;
}
