body {
  background-image: url("../../public/assets/img/bkgrnd-img.png");
  background-size: 100% auto;
  background-color: #754835;
}
body .container {
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Montaga', serif;
}
body .container .nav {
  width: 37%;
  margin-top: 3rem;
  margin-left: 0;
  border: 0.1px solid blueviolet;
}
body .container .nav nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
body .container .nav nav a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #ad6e3b;
}
body .container .mortar-pestle {
  width: 242px;
  height: 237px;
  margin: -3.3rem 28.8rem;
  border: 0.1px solid green;
}
body .container .oval-bowl {
  width: 319px;
  height: 339px;
  margin: -9rem 50.5rem;
  border: 0.1px solid yellow;
}
body .container .cutting-board {
  width: 366px;
  height: 441px;
  margin: -17rem 3.5rem;
  border: 0.1px solid pink;
}
